body{
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 20px;
    background-color: rgb(241, 241, 241);
    width: 100%;
    color: #333333;
    
}
@media (min-width: 601px){
.nav {
    width: 100%;
    top:0;
    left: 0;
    right: 0;
    position: absolute;
    height: 10vh;
    min-height: 9vw;
    overflow: hidden;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 0fr;
    
    .button{
        font-family: 'Titillium Web', sans-serif;
        padding-left: 1.5vw;
        position: relative;
        display: block;
        width: 15vw;
        min-width: 20vh;
        height: 5vh;
        min-height: 2.5vw;
        background: none;
        margin: 3vh;
        margin-bottom: -1vh;
        margin-left: 10vh;
        font-weight: 500;
        font-size: 2rem;
        line-height: 1.5;
        border: none;
        outline: transparent;
        background-image: linear-gradient(to right, rgb(255, 147, 46) 0%, rgba(255, 208, 0, 0) 80%);
        color: white;
        border-radius: 5px;
        
        cursor: pointer;
    }
}
.header{
    position: relative;
    display: block;
    min-height: 30vw;
    height: 75vh;
    overflow: hidden;
    width:100%;
    color: white;
    background-color: rgb(27, 27, 27);
    align-items: center;
    .hero{
        &::before{
        z-index: 2;
        content: '';
        position: absolute;
        background: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 208, 0));
        bottom: -1px;
        left: 0;
        right: -1px;
        height: 110%;
        opacity: 0.6;
        clip-path: polygon(75% 0, 100% 0, 100% 100%, 45% 100%);
        }
        &::after{
            z-index: 3;
            content: '';
            position: absolute;
            background: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 153, 0));
            bottom: -1px;
            left: 0;
            right: -1px;
            height: 110%;
            opacity: 0.8;
            clip-path: polygon(100% 48%, 30% 100%, 100% 100%);
        }
    }
    img{
        z-index: 5;
        position: absolute;
        bottom: -30%;
        right: 5vw;
        width: 40vh;
    }
    .header-bg{
        z-index: 1;
        position: absolute;
        margin-top: 0;
        top:0;
        width: 100%;
        height: 100%;
        background-image: url(tlobtck.jpg);
        background-size: cover;
        overflow: hidden;
        opacity: 0.1;
    }
    .header-text{
        z-index: 4;
        width: 60%;
        min-width: 45%;
        
        h1 {
            font-family: 'Titillium Web', sans-serif;
            opacity: 1;
            margin: 18vh 0vw 1vh 10vw;
            line-height: 1;
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 1); 
            font-size: 7rem;
            font-weight: 650;
        }
        h2{
            font-family: 'Titillium Web', sans-serif;
            opacity: 1;
            margin: 0vh 3vw 2vh 10vw;
            line-height: 1;
            color: rgb(255, 255, 255);
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 1); 
            font-size: 6rem;
            font-weight: 650;
        }
        h3 {
            font-family: 'Titillium Web', sans-serif;
            opacity: 1;
            margin: 0vh 17vw 5vh 10vw;
            line-height: 1;
            color: rgb(194, 238, 255);
            text-shadow: 0px 0px 6px rgba(0, 0, 0, 1); 
            font-size: 2.3rem;
            font-weight: 500;
        }
    }
}
@media (max-width: 1830px){
    .header{
        height: 90vh;
        h3{
            margin: 0vh 10vw 5vh 10vw;
        }
    }
}
@media (max-width: 1469px){
    .video{
        z-index: 10;
        position: relative;
        top: 0px;
        left: 3vw;
        width: 94vw;
        min-width: 600px;
        height: 60vh;
        min-height: 330px;
        border-radius: 5px;
        iframe{
            width: 94vw;
            height: 60vh;
            border-radius: 5px;
        }
    }
    .content{
        position: relative;
        display: block;
        left: 12.5vw;
        width: 75vw;
        margin-bottom: 10vh;
        
        h5{
            font-family: 'Titillium Web', sans-serif;
            line-height: 1;
            color: rgb(60, 216, 255);
            font-size: 2.3rem;
            font-weight: 500;
            margin-bottom: 0;
        }
        p{
            font-family: 'Titillium Web', sans-serif;
        }
    }
}
@media (max-width: 1143px){
    .header{
        height: 110vh;
        img{
            display: none;
        }
    }
    .video{
        z-index: 10;
        position: relative;
        top: -230px;
        left: 3vw;
        width: 94vw;
        min-width: 600px;
        height: 60vh;
        min-height: 330px;
        border-radius: 5px;
        iframe{
            width: 94vw;
            height: 60vh;
            border-radius: 5px;
        }
    }
        .content{
            margin-top: -230px;
            left: 12.5vw;
            width: 75vw;
        }
}
.page-content{
    position: relative;
    margin-top: 3vh;
    right: 0;
    left: 0;
}
@media (min-width: 1470px){
.video{
    z-index: 10;
    position: absolute;
    top: -230px;
    left: 5vw;
    margin-bottom: -230px;
    width: 40vw;
    min-width: 600px;
    max-width: 800px;
    height: 40vh;
    min-height: 330px;
    border-radius: 5px;
    iframe{
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}
.content{
    position: relative;
    display: block;
    left:50%;
    margin-bottom: 10vh;
    width: 40vw;
    h5{
        font-family: 'Titillium Web', sans-serif;
        line-height: 1;
        color: rgb(60, 216, 255);
        font-size: 2.3rem;
        font-weight: 500;
        margin-bottom: 0;
    }
    p{
        font-family: 'Titillium Web', sans-serif;
    }
}
}
.parallax {
    background-attachment: fixed;
}
.photos{
    display: block;
    left: 12.5vw;
    width: 75vw;
    position: relative;
    margin-top: 3vh;
    margin-bottom: 10vh;
    text-align: left;
    align-items: center;
    .title-photos{
        position: relative;
        top:0;
        left: 50%;
        transform: translate(-50%);
    }
    h1{
        font-family: 'Titillium Web', sans-serif;
        line-height: 1;
        color: rgb(60, 216, 255);
        font-size: 2.3rem;
        font-weight: 500;
        margin-bottom: 0;
    }
    h2{
        font-family: 'Titillium Web', sans-serif;
        margin-top: 0px;
        font-size: 20px;
        font-weight: 500;
    }
}
.photo{
    position: relative;
    width: 390px;
    height: 500px;
    z-index: 3;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    text-align: justify;
    img{
        top:0;
        display: block;
        width: 390px;
        height: 266px;
        transition: 400ms;
        border-radius: 5px;
    }
    .title{
        font-family: 'Titillium Web', sans-serif;
        position: absolute;
        bottom: 234px;
        left: 0;
        right: 0;
        color: white;
        text-align: right;
        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7) 50%);
        padding: 40px 20px 20px;
        font-size: 2rem;
        opacity: 1;
        transition: 500ms;
    }
    p{
        position: absolute;
        top: 266px;
        text-align: center;
        margin: 0;
        padding: 2vh;
    }
}
.faq{
    position: relative;
    display: block;
    background-color: white;
    box-sizing: content-box;
    padding-bottom: 10vh;
    &::before{
        content: '';
        position: absolute;
        top: -1px;
        clip-path: polygon(0 0, 100% 100%, 100% 0);
        height: 6vh;
        width: 100%;
        background-color: rgb(241, 241, 241);
    }
    .faq-content{
        top: 7vh;
        position: relative;
        margin-left: 12.5vw;
        width: 80vw;
    }
    h5{
        font-family: 'Titillium Web', sans-serif;
        line-height: 1;
        color: rgb(60, 216, 255);
        font-size: 2.3rem;
        font-weight: 500;
        margin-bottom: 0;
    }
    p{
        margin-top: 0;
        font-family: 'Titillium Web', sans-serif;
    }
    .faq-cards{
        display: flex;
        position: relative;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        .faq-card{
            width: 20vw;
            min-width: 295px;
            display: inline-block;
            border-radius: 5px;
            background-color: white;
            text-align: justify;
            margin-right: 7%;
        }
    }
}

.log{
    position: relative;
    display: block;
    height: 80vh;
    background-color: rgb(27, 27, 27);
    .log-bg{
        position: absolute;
        top:0;
        width: 100%;
        height: 100%;
        background-image: url(tlobtck.jpg);
        background-size: cover;
        overflow: hidden;
        opacity: 0.1;
    }
    .login-box {
        z-index: 1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        width: 60vw;
        box-shadow: 0 25px 35px rgba(black, 0.15);
        box-sizing: border-box;
        padding: 5vh 5vh 7vh;
        border-radius: 5px;
        text-align: center;
        
        &::before{
            z-index: 1;
            content: '';
            position: absolute;
            background: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 208, 0));
            top: -1px;
            left: 0;
            right: -1px;
            height: 100%;
            opacity: 0.6;
            clip-path: polygon(90% 0, 100% 0, 100% 100%, 63% 100%);
        }
        &::after{
            z-index: 2;
            content: '';
            position: absolute;
            background: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 153, 0));
            bottom: -1px;
            left: 0;
            right: -1px;
            height: 110%;
            opacity: 0.8;
            clip-path: polygon(100% 34%, 55% 100%, 100% 100%);
        }
        h2 {
            width: 60%;
            margin: 0 0 0 0;
            font-size: 1.4rem;
            color: rgb(60, 216, 255);
        }
        p {
            width: 60%;
            margin: 0;
            font-size: 0.8rem;
            color: lighten(#333, 30%);
        }
        img{
            top: 50%;
            transform: translate(-15%, -50%);
            z-index: 5;
            position: absolute;
            right: 0;
            width: 30%;
        }
    }
    
    .form {
        .form--input-box {
            position: relative;
            text-align: left;
            margin: 0 0 3vh;
    
            &::after,
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 40%;
                height: 2px;
                background: rgba(0, 0, 0, 0.1);
            }
    
            &::before {
                background-image: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 208, 0));
                right: 100%;
                z-index: 2;
    
                transition: right 500ms;
            }
    
            input {
                width: 100%; 
                border: none;
                background-color: transparent;
                font-size: 1.2rem;
                line-height: 1.9;
                outline: transparent;
                margin-top: 2vh;     
            }
    
            label {
                position: absolute;
                top: 23px;
                font-size: 1rem;
                cursor: pointer;
    
                transition: top 200ms, font-size 200ms;
            }
    
            &.focused {
                &::before {
                    right: 0;
                }
    
                &:not(.active) label {
                    top: 0;
                    font-size: 0.7rem;
                }
            }
    
            &.active {
                label {
                    top: 0;
                    font-size: 0.7rem;
                }
            }
        }
    
        .form--options {
            width: 60%;
            display: grid;
            grid-template-columns: 1fr 1.5fr;
            font-size: 0.7rem;
            text-align: left;
            a{
                text-decoration: none;
                color: rgb(255, 147, 46);
                transition: 300ms;
            }
            a:hover{
                color: rgb(60, 216, 255);
            }
            > div:last-of-type {
                text-align: right;
            }
        }
    }
    .button {
        border: none;
        background-image: linear-gradient(to right, rgb(255, 123, 0), rgb(255, 208, 0));
        color: white;
        font-size: 1.2rem;
        padding: 0 6vh;
        line-height: 2.5;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 6vh;
        outline: transparent;
        box-shadow: 0 5px 10px rgba(black, 0.2);
    
        &--block {
            display: block;
            width: 60%;
        }
    }
    .log-bottom{
        display: none;
        text-align: center;
        margin: 0 0 0 0;
        font-size: 1.4rem;
        color: rgb(60, 216, 255);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 10vh;
        background-color: white;
    }
}
footer {
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    background-color: #333;
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.7rem;
    height: 15vh;
    overflow: hidden;
}
footer img{
    height: 10vh;
    margin-top: 1vh;
}
hr{
    border-image-source: linear-gradient( rgb(255, 123, 0), rgb(255, 208, 0));
    border-image-slice: 1;
    width: 70%;
}
/* ___________________________________ */



.page-contet::before {
    z-index: 2;
    content: '';
    position: absolute;
    background: white;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 100px;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }

/* clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%); */
.card{
    position: relative;
    width: 250px;
    height: 400px;
    margin: 3vw;
    z-index: 3;
    display: inline-block;
    background: radial-gradient(ellipse at center,  #fff, #f5f5f5, #e9e9e9);
    border-top: 4px solid;
    border-image-source: linear-gradient( rgb(255, 123, 0), rgb(255, 208, 0));
    border-image-slice: 1;
}
.card .nm{
    clip-path: polygon(50% 0%, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    position: absolute;
    top:0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to top, rgb(55, 135, 255), rgb(110, 168, 255));
    display: inline-block;
    width: 10vh;
    height: 10vh;
}
.card .num p{
    color: white;
    font-size: 2rem;
}
} //media
@media (max-width: 600px){
    .nav{
        display: none;
    }
    .header{
        background-color: orange;
        padding: 0vw;
        height: 40vh;
        h1{
            text-align: center;
            margin: 0;
            font-size: 3rem;
        }
        h2{
            text-align: center;
            margin-top: 0px;
        }
        h3{
            text-align: center;
            margin-top: 0;
        }
        img{
            display: none;
        }
    }
    .page-content{
        .video{
            padding-left: 5vw;
            padding-top: 2vh;
            width: 90vw;
            margin-bottom: 3vh;
            iframe{
                width: 90vw;
                height: 30vh;
            }
        }
        padding: 0;
        margin: 0;
        .content{
            padding-left: 5vw;
            width: 90vw;
            text-align: justify;
            h5{
                font-size: 1.5rem;
                color: rgb(60, 216, 255);
                margin: 0;
            }
            p{
                margin-top: 0;
            }
        }
        .photos{
            display: none;
        }
    }
    .faq{
        display: none;
    }
    .log{
        display: none;
    }
    footer{
        display: none;
    }
}

